html * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #171717;
}

header a, footer a {
    text-decoration: none;
}

header p, footer p{
    color: #EDEDED;
    font-size: 1.2rem;
    margin-left: 20px;
}

header p span, footer p span{
    color: #EDEDED;
    position: relative;
    bottom: -6px;
    margin-right: 10px;
}

header .divContainerNav {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

header .headerMenuButtom{
    font-size: 1.3rem;
    background: white;
    height: 4vh;
    width: 4vh;
    border-radius: 25%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

header .headerUserIcon {
    color: #EDEDED;
    font-size: 1.5rem;
    margin-right: 20px;
    cursor: pointer;
}

header nav {
    background: #444444;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

header nav a p {
    font-size: 1.3rem;
    margin-left: 0px;
}

header nav .active p{
    color: #DA0037;
}

footer {
    background: #171717;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .socialMediaFooter {
    justify-content: center;
    align-items: center;
    width: 20vh;
    display: flex;
    flex-wrap: wrap;
}

footer .socialMediaFooter a {
    width: 7vh;
    height: 7vh;
    margin: 1vh;
}

footer .socialMediaFooter a svg{
    width: 100%;
    height: 100%;
}

footer .socialMediaFooter .facebookFooter {
    color: #3b5998;
}

footer .socialMediaFooter .twitterFooter {
    color: #00acee;
}

footer .socialMediaFooter .instagramFooter {
    color: #833AB4;
}

footer .socialMediaFooter .youtubeFooter {
    color: #c4302b;
}

footer div {
    height: 100%;
    width: calc(100% - 20vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer .navFooter {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer .navFooter p {
    font-size: 1.2rem;
    margin: 0px;
}

main {
    background: #EDEDED;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}

main .welcomeSection {
    background-position: 50%;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .welcomeSection .titleArticle {
    background: #171717;
    border-radius: 20px;
    margin: 20px 10px 0px 10px;
}

main .welcomeSection h2, main .carrouselSection h2 {
    font-size: 2rem;
    color: #EDEDED;
    text-align: center;
    padding: 10px;
}

main .welcomeSection .callToActionArticle {
    width: 200px;
    height: 40px;
    background: #DA0037;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

main .welcomeSection a {
    text-decoration: none;
    color: #EDEDED;
    font-size: 1.2rem;
    padding: 15px;
}

main .carrouselSection {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .carrouselSection .titleArticleCarrousel {
    background: #171717;
    border-radius: 20px;
    position: absolute;
    top: 75vh;
    z-index: 3;
}

main .carrouselSection .slide {
    display: flex;
    flex-flow: row !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly;
}

main .carrouselSection .cityContainer {
    width: 40%;
    height: 40%;
    margin: 10px 0px;
}

main .carrouselSection .cityImage {
    height: 100%;
    width: 100%;
}

main .carrouselSection .cityContainer .legendCity {
    font-size: 2rem;
    color: #EDEDED;
    text-align: center;
    padding: 10px;
    background: #444444;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media screen and (min-width:480px){
    
    header nav {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    header nav a p {
        font-size: 1.8rem;
    }   

    header .divContainerNav {
        width: 50%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;    
    }

    header .headerMenuButtom{
        font-size: 2rem;
        height: 8vh;
        width: 8vh;
    }
    
    header .headerUserIcon {
        color: #EDEDED;
        font-size: 3rem;
    }    

}

@media screen and (min-width:767px){
}

@media screen and (min-width:950px){
}